:root {
    position: absolute;
    background-color: gray;
}


* {
    font-family: sans-serif;
}
/* button navbar */


.generate {
    margin-top: 0;
    left: 0;
    margin: 0;
    padding: 15px;
}

.generate * {
    margin: 5px;
}

.generate .seperator #update-density input {
    border: 1px solid black;
    background-color: lightgray;
    padding: 3px;
}

.seperator {
    background-color: darkgray;
    padding: 5px;
    border-radius: 5px;
}

.generate button {
    margin: 10px;
    margin-right: 0px;
    height: 30px;
    padding: 5px;
    width: 110px;

    background-color: #3498DB;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid black;
}

.generate button:hover {
    background-color: #2980B9;
}




/* the left documents */

#documents {
    width: 14%;
    /* Overflow-y: scroll; */
    height: 80vh;
}


#documents div {
    display: flex;
    flex-direction: row;
}
#documents div .delete {
    /* display */
    display: flex;
    justify-content: center;
    flex-direction: column;

    margin: 10px;
    margin-left: 0px;
    padding: 5px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;

    background-color: #3498DB;
    cursor: pointer;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
#documents div .delete .blocker {
    content: "";
    position: absolute;
    width: 1px;
    height: 35px;
    background-color: black;
    margin-left: -10px;
}
#documents div .name {
    display: flex;
    justify-content: center;
    flex-direction: column;

    margin: 10px;
    margin-right: 0px;
    height: 30px;
    padding: 5px;
    width: 110px;

    background-color: #3498DB;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#documents div div:hover {
    background-color: #2980B9;
}

/* simulation */

.holder {
    display: flex;
    flex-direction: row;
}
.block {
    display: flex;
    flex-direction: column;
    background: rgb(184, 184, 184);
    width: var(--width);
    height: var(--height);
    position: relative;
    z-index: 1;
}

.generate * {
    display: inline-block;
}
.main {
    display: flex;
}

.container {
    position: relative;
    width: 1000px;
    height: 500px;
}

#canvas1 {
    position: absolute;
    background: lightgray;
    height: 100%;  
    width: 100%;
    opacity: 1;
}

#canvas-draw {
    position: absolute;
    background: lightgreen;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
}


/* tooltip */

.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 10;
    top: 130%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.5s;
    font-size: 12px;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  